<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../stylesheets/import/styles2.css" rel="stylesheet" />
    <link href="../../stylesheets/goals.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <script>
        let result = '<%- result %>';

    </script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">App</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button> -->
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Our Group 😊
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/team">Introduction</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/report">Report</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Tables 😎
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="/income/view">
                                    Income
                                </a>
                                <a class="nav-link" href="/expenses/view">
                                    Expenses
                                </a>
                                <a class="nav-link" href="/budgets/view">
                                    Budget
                                </a>
                                <a class="nav-link" href="/goals/view">
                                    Goals
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: <%= name %>
                    </div>
                    Personal Finance Tracker
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- main website starts here -->
                    <div class="row p-md-3">
                        <div class="col mt-2 mb-2">
                          <h1 class="float-start">Your Goals 🏝️</h1>
                        </div>
                        <div class="col mt-2 mb-2">
                          <button type="button" class="btn btn-info btn-lg float-end" data-toggle="modal"
                          data-target="#myModal">Add New Goal</button>
                        </div>
                      </div>
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create New Goal</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <form action="/goals/save" method="POST">
                                            <!-- name -->
                                            <div class="form-group">
                                                <label for="name">name</label>
                                                <input class="form-control" type="text" name="name" placeholder="Name" required />
                                            </div>
                                            <!-- image -->
                                            <div class="form-group">
                                                <label for="image_url">Image url</label>
                                                <input class="form-control" type="text" name="image_url" value='' placeholder="Paste image url here"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <input class="form-control" type="textfield" name="description" placeholder="Add description"  maxlength="150" />
                                            </div>
                                            <div class="form-group">
                                                <label for="amount">Amount</label>
                                                <input class="form-control" type="number" min="1" step="any" name="amount"
                                                    placeholder="Amount" required />
                                            </div>
                                            <label for="start_date">Goal Start Date</label>
                                            <div class="form-group">
                                                <input class="form-control" type="date" id="today" name="start_date"
                                                    placeholder="Add start date" required />
                                            </div>
                                            <label for="end_date">Goal End Date</label>
                                            <div class="form-group">
                                                <input class="form-control" type="date" id="enddate" name="end_date"
                                                    placeholder="Add end date" required />
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" value="add">Add Record</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>            

                    <img id="banner" src="../../images/banner.jpg" alt="island" width="100%" height="500"/>

                    <!-- in page nav-->
                    <div class="card text-left">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a id="not_completed" class="nav-link" href="/goals/view" style="text-decoration: none;">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a id="completed" class="nav-link" href="/goals/view/completed" style="text-decoration: none;">Completed</a>
                                </li>
                            </ul>
                        </div>
                        <!-- cards -->
                        <% if(result.length == 0 && state == 'active') { %>
                            <div class="row mt-5">
                                <h5 style="justify-content: center; text-align: center;">oops, you haven't added any goals yet. Create one now!</h5>
                            </div>
                        <% } %>
                        <% if(result.length == 0 && state == 'completed') { %>
                            <div class="row mt-5">
                                <h5 style="justify-content: center; text-align: center;">No completed goals yet.</h5>
                            </div>
                        <% } %>
                        <div class="card-body" style="text-align: center; display: flex; flex-wrap: wrap; padding: 2%; justify-content: flex-start;">
                            <% for(var i=0; i<result.length; i++) { %>
                                <div class="goalcard" id="goalcards">
                                    <% let defaultimg = '../../images/banana.jpg'; %>
                                    <div class="bg" style="background-image: url('<%= result[i].image_url !== null ? result[i].image_url : defaultimg  %>')"></div>
                                    <% if (state == "active") { %>
                                        <a href="check/<%= result[i].goalID %>" class="completed"><i class="fa fa-check" style="color: lightgray;" aria-hidden="true"></i></a>
                                    <% } %>
                                    <div class="info">
                                        <div class="name"><%= result[i].name %></div>
                                      <div class="price">$<%= result[i].amount %></div>
                                      <div><p style="font-size: 11px;"><%= result[i].description %></p></div>
                                      <% if(result[i].possible == '1' && state == 'active') { %>
                                            <div class="buy" style="background-color: #2f9211;">Possible</div>
                                      <% } %>
                                      <% if(result[i].possible == '0' && state == 'active') { %>
                                        <div class="buy">Not Possible</div>
                                      <% } %>
                                      <% if(state == 'completed') { %>
                                        <div class="buy" style="background-color: darkgrey;">Completed</div>
                                      <% } %>
                                    </div>
                                  </div>
                            <% } %>
                        </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>Amount</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Control</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>name</th>
                                            <th>Amount</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Control</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% for(var i=0; i<result.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= result[i].name %>
                                                </td>
                                                <td>
                                                    <%= result[i].amount %>
                                                </td>
                                                <td>
                                                    <%= result[i].start_date.toISOString().split('T')[0] %>
                                                </td>
                                                <td>
                                                    <%= result[i].end_date.toISOString().split('T')[0] %>
                                                </td>
                                                <td>
                                                    <a href="/goals/delete/<%= result[i].goalID %>"><i
                                                            class="fas fa-trash"></i></a>
                                                    <a href="/goals/edit/<%= result[i].goalID %>"><i
                                                            class="fas fa-edit"></i></a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <!-- ends here -->
                    </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; NUS TIC2601 - Personal Finance Tracker Dashboard (Group
                            9)</div>
                        <div>
                            <a href="#">Group Members</a>
                            &middot;
                            <a href="#">Report</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
        let state = '<%- state %>';
        let not_completed = document.getElementById("not_completed");
        let completed = document.getElementById("completed");
        if(state == 'completed'){
            not_completed.className.replace(" active", "");
            completed.className += " active";
        } else {
            not_completed.className += " active";
        }

    </script>
    <script>
        document.getElementById('today').value = new Date().toISOString().slice(0, 10);
        document.getElementById('enddate').value = new Date().toISOString().slice(0, 10);
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="../../js/datatables-simple-demo.js"></script>
</body>

</html>